<%= form_for(@post) do |f| %>
  <%= author_id_field(@post) %>
  <label>Post title:</label><br>
  <% if @post.author.nil? %>
 
  <%= f.text_field :title %><br>
  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
